body{

   /* background-color: #ffff00;
    background-image: ;
    color: red;*/
    background-image: url(./images/WIN_20200722_04_02_23_Pro.jpg);
    background-position:center ;
    background-repeat: no-repeat;
}
